:root {
    --main-color: rgba(113, 15, 143, 0.5);
    --text-color: rgba(49, 13, 207, 0.6);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    border-top: rgba(76, 17, 212, 0.9);
    position: fixed; /* Fixed position */
    bottom: 0; /* Stick to bottom */
    width: 100%; /* Full width */
    height: 50px; /* Fixed height (adjust as needed) */
    border: 2px groove var(--main-color);
    background-image: url('../../ASSETS/img/header.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
   
}

