:root {
    --main-color: #cf0dbf99;
    --text-color: rgba(49, 13, 207, 0.6);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--text-color);
    border-top: rgba(76, 17, 212, 0.9);
    position: fixed; /* Fixed position */
    bottom: 0; /* Stick to bottom */
    width: 100%; /* Full width */
    height: 50px; /* Fixed height (adjust as needed) */
   
}

