:root {
    --main-color: #cf0dbf99;
    --text-color: rgba(49, 13, 207, 0.6);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1.5em; /* Reduced padding */
    background-color: var(--main-color);
    color: var(--text-color);
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.navbar_logo img {
    width: 40px; /* Reduced logo size */
    margin-right: 0.5em; /* Reduced margin */
}

.navbar_logo h2 {
    font-size: 1.2em; /* Reduced font size */
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0; /* Removed default margin */
    padding: 0; /* Removed default padding */
}

.navbar li, .navbar a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s; /* Reduced transition time */
    padding: 0.5em 0.8em; /* Reduced padding */
    border-radius: 5px;
  
}

.navbar li:hover {
    background-color: var(--main-color);
}

.navbar li:hover > a {
    color: #fff;
}
